<div id="forecast-container" class="forecast-grid">
  <!-- Empty top-left corner -->
  <div></div>
  <%# <button id="show-flowchart-button">Show Flowchart (placeholder for time slot selection)</button> %>


  <!-- Time labels -->
  <button class="time-label flowchart-btn"
        data-action="click->forecast#switchToFlowChart"
        data-time="6am">6 am</button>
  <div class="time-label  flowchart-btn">9 am</div>
  <div class="time-label  flowchart-btn">12 pm</div>
  <div class="time-label  flowchart-btn">3 pm</div>
  <div class="time-label  flowchart-btn">6 pm</div>
  <div class="time-label  flowchart-btn">9 pm</div>

  <!-- Swell Height Row -->
  <div class="label">Swell</div>

  <div class="cell-group">
    <span data-weather="swell-height">1.5 m</span>
    <span>–</span>
    <span data-weather="swell-period">14 s</span>
    <span>–</span>
    <span data-weather="swell-direction">NW</span>
  </div>
  <div class="cell-group">
    <span data-weather="swell-height-9am">1.4 m</span>
    <span>–</span>
    <span data-weather="swell-period-9am">12 s</span>
    <span>–</span>
    <span data-weather="swell-direction-9am">NNE</span>
  </div>
  <div class="cell-group">
    <span data-weather="swell-height-12pm">-- m</span>
    <span>–</span>
    <span data-weather="swell-period-12pm">-- s</span>
    <span>–</span>
    <span data-weather="swell-direction-12pm">--</span>
  </div>
  <div class="cell-group">
    <span data-weather="swell-height-3pm">-- m</span>
    <span>–</span>
    <span data-weather="swell-period-3pm">-- s</span>
    <span>–</span>
    <span data-weather="swell-direction-3pm">--</span>
  </div>
    <div class="cell-group">
    <span data-weather="swell-height-3pm">-- m</span>
    <span>–</span>
    <span data-weather="swell-period-3pm">-- s</span>
    <span>–</span>
    <span data-weather="swell-direction-3pm">--</span>
  </div>
  <div class="cell-group">
    <span data-weather="swell-height-3pm">-- m</span>
    <span>–</span>
    <span data-weather="swell-period-3pm">-- s</span>
    <span>–</span>
    <span data-weather="swell-direction-3pm">--</span>
  </div>

  <!-- Wave Height Row -->
  <div class="label">Wave</div>

  <div class="cell-group">
    <span data-weather="wave-height-6am">1.7 m</span>
    <span>–</span>
    <span data-weather="wave-period-6am">13 s</span>
    <span>–</span>
    <span data-weather="wave-direction-6am">N</span>
  </div>
  <div class="cell-group">
    <span data-weather="wave-height-9am">-- m</span>
    <span>–</span>
    <span data-weather="wave-period-9am">-- s</span>
    <span>–</span>
    <span data-weather="wave-direction-9am">--</span>
  </div>
  <div class="cell-group">
    <span data-weather="wave-height-12pm">-- m</span>
    <span>–</span>
    <span data-weather="wave-period-12pm">-- s</span>
    <span>–</span>
    <span data-weather="wave-direction-12pm">--</span>
  </div>
  <div class="cell-group">
    <span data-weather="wave-height-3pm">-- m</span>
    <span>–</span>
    <span data-weather="wave-period-3pm">-- s</span>
    <span>–</span>
    <span data-weather="wave-direction-3pm">--</span>
  </div>
    <div class="cell-group">
    <span data-weather="wave-height-3pm">-- m</span>
    <span>–</span>
    <span data-weather="wave-period-3pm">-- s</span>
    <span>–</span>
    <span data-weather="wave-direction-3pm">--</span>
  </div>
    <div class="cell-group">
    <span data-weather="wave-height-3pm">-- m</span>
    <span>–</span>
    <span data-weather="wave-period-3pm">-- s</span>
    <span>–</span>
    <span data-weather="wave-direction-3pm">--</span>
  </div>

</div>
