<div id="forecast-container" class="forecast-grid">
  <!-- Time labels -->
  <div class="time-slot-grid mb-2 forecast-labels">
    <p class="forecast-label pt-2">time</p>
    <p class="forecast-label pt-2">swell</p>
    <p class="forecast-label pt-2">wave</p>
    <p class="forecast-label pt-2">wind</p>
    <p class="forecast-label pt-2">tides</p>
  </div>

  <!-- Container where time slots will be injected by JS -->
  <div class="time-slots-container"></div>

  <!-- Template used to create time slot elements -->
  <template id="time-slot-template">
    <div class="time-slot-grid mb-2"
          data-controller="time-slots"
          data-time-slots-target="timeSlot"
          data-action="click->time-slots#selectTimeSlot">
      <div class="time fw-bold" data-weather="time"></div>
      <div class="cell-group">
        <span><span data-weather="swell-height">n.a.</span>m</span>
        <span>–</span>
        <span><span data-weather="swell-period">n.a.</span>m</span>
        <span>–</span>
        <span data-weather="swell-direction">n.a.</span>
      </div>
      <div class="cell-group">
        <span><span data-weather="wave-height">n.a.</span>m</span>
        <span>–</span>
        <span><span data-weather="wave-period">n.a.</span>m</span>
        <span>–</span>
        <span><span data-weather="wave-direction">n.a.</span>
      </div>
      <div class="cell-group">
        <span><span data-weather="wind-speed">n.a.</span>km/h</span>
        <span>–</span>
        <span><span data-weather="wind-direction">n.a.</span></span>
      </div>
      <div class="cell-group">
        <span><span data-weather="tide">n.a.</span></span>
      </div>
    </div>
  </template>
</div>
