<div class="page-title"><h2>Welcome to SurfSense</h2></div>

<% if user_signed_in? %>
  <%= render "shared/search_bar" %>
<% else %>
  <%= link_to "Login", new_user_session_path, class: "nav-link"%>
<% end %>
