.forecast-grid {
  display: none;
  grid-template-columns: 0.5fr 6fr;
  gap: 8px;
  padding: 16px;
  padding-left: 0px;
  font-family: sans-serif;
  max-width: fit-content;
  margin: auto 0px;
  padding-bottom: 1rem;
  font-family: 'Self Modern', sans-serif;
  flex-wrap: wrap;
}

#btn-back {
  display: none;
  background-color: #385a617a;
  border-radius: 5px;
}

.time-label.flowchart-btn {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-clip: padding-box;
}

.button-container {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: end;
}

.time-label {
  background: #F3EF66;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  padding: 4px 0;
  margin: 0px 30px;
}
.time-label:hover,
.time-label.hovered {
  background-color: #9f9929;
  cursor: pointer;
}

.time-label.flowchart-btn {
  margin-bottom: 1rem;
}

.label {
  background-color: #ece7f4;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  padding-left: 1rem;
  margin-right: 2rem;
}

.forecast-labels {
  width: fit-content;
  display: inherit;
  justify-self: center;
}

.comments {
  font-family: "Nunito", "Helvetica", "sans-serif";
  color:#495057!important;
  font-size: 1rem !important;
  font-weight: 600;
}


/* Highlight cells in hovered column */
