.search-wrapper {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  max-height: 80px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.6rem 4rem;
  border-radius: 48px;
  gap: 2rem;
}
