.country-wrapper,
.region-wrapper,
.break-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;

  h5 {
    font-family: 'Shippori Mincho', serif;
    color: #1D4853;
  }

  .btn-group {
    align-self: flex-start;
    width: 100%;
  }
}

.btn.btn-country,
.btn.btn-region,
.btn.btn-break {
  align-self: flex-start;
  text-align: left;
  width: fit-content;
  font-family: 'Shippori Mincho', serif;
  color: #1D4853;
  font-size:x-large;
  padding: 0;
  padding-right: 15px;
}

.category-title {
  margin-bottom: 0.25rem;
}

.country-wrapper {
  padding-right: 4rem;
}

.region-wrapper {
  padding-left: 6rem;
  padding-right: 6rem;
  border-left: 2px solid #1D4853;
  border-right: 2px solid #1D4853;

}

.break-wrapper {
  margin-left: 2rem;
}

.dropdown-toggle-split {
  padding-right: 0px;
}

.dropdown-menu {
  border-radius: 10px;
}

.btn-group {
  display: flex;
  flex-direction: row;
}
